#book {
    width: 50%;
    background: greenyellow;
    float: left;
    height: 1000px;
    background-image: url("../images/press.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    color: white;
    float: left;
}

header {
    width: 100%;
    background: black;
    height: 75px;
}


.info{
    width: 80%;
    height: 200px;
    background-color: white;
    margin: 25px auto;
}

#movie {
    width: 50%;
    background: turquoise;
    float: left;
    height: 1000px;
    background-image: url("../images/reel2.jpg");
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.poster{
    background: white;
    width: 350px;
    height: 500px;
    margin: 25px auto;
}

.rating{
    width: 125px;
    height: 70px;
    background-color: white;
    margin: 0 auto;
}

#search{
    float: right;
    padding: 25px 50px;
}